/* public grobal for all */
.button{
    padding: .45rem .785rem;
    border: 1px solid transparent;
    margin: 1rem 1.5rem 0 0;
    text-decoration: none;
    line-height: 1.5;
}
.btn-big{
    text-decoration: none;
    padding: .45rem .785rem;
    border: 1px solid transparent;
    min-width: 11.1875rem;
    text-align: center;
}
.blink{
    transition: all ease-in-out .25s;
}
/* a{
    color: #491040 ;
} */
/* company text */
.text-company{
    font-size: 1rem;
}
.uppertext{
    text-transform: uppercase;
}
.capitext{
    text-transform: capitalize;
}
.bont15{
    font-weight: 900;
    /* font-size: 15pt; */
}
/* head 2 */
.text-head2{
    font-size: 2.5rem;
    font-family: system-ui;
    letter-spacing: normal;
    /* font-weight: 1000; */
}
.text-head4{
    font-size: 1.5rem;
    font-family: "Avance-Bold", serif;
}
/* font size 20pt */
.text1r2{
    font-size: 1.2rem;
}
/* big body*/
#body_content{
    position: relative;
    top: 110px;
    font-family: roboto-regular,sans-serif;
}
/* contain for main-body */
#main_content{
    position: relative;
}
.main_containter-layout{
    position: relative;
    display: flex;
    flex-direction: column;
}
/* card_house ads */
.card_house{
    width: 100%;
}
.card_house-layout{
    width: 100%;
    height: 100%;
    min-height: 20rem;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
/* img background */
.card_house-background{
    /* width: 100%; */
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
}
.card_house-background img{
    width: 100%;
    object-fit: none;
    position: relative;
    bottom: 20%;
}
/* container for text and link */
.card_house-container{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    position: relative;
    flex-flow: column wrap;
    justify-content: center;
}
.card_house-text{
    position: absolute;
    width: 50%;
    line-height: 1.2;
    /* max-width: 50%; */
}
.card_house-head{
    margin-bottom: 1rem;
    /* font-size: 2.5rem; */
}
.card_house-body{
    margin-bottom: .25rem;
}
.card_house-link{
    display: flex;
    flex-flow: row wrap;
}
.card_house-link .button{
    background-color: black;
    color: white;
    line-height: 2.1;
    text-align: center;
}
/* 1st row */
.slick_list.dragable{
    position: relative;
}
.slick_list-track{
    padding: 0 .5rem 1.5rem;
    background-color: #EAEAEA;
    width: 100%;
}
.slick_list-head{
    width: 100%;
    padding: 0 .5rem;
}
.slick_list-head > .text-head2{
    padding: .5rem 0 1.5rem;
    font-size: 1.875rem;
    text-align: center;
}
/* list slides of ads */
.slick_list-body{
    padding: 0 .5rem;
    position: relative;
    max-width: 90rem;
    margin: auto;
}
/* slick_ corssroll for the 2 arrow on both side */
.slick_list-crossroll{
    width: 99.7%;
    top: 45%;
    left: 1px;
    position: absolute;
    background: transparent;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
/* slick_ corssroll on the left */
.slick_list-crossroll_before{
    /* transform: rotateZ(90deg); */
    display: flex;
    align-items: center;
    width: 37.5px;
    height: 37.5px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 50%;
    font-size: 2rem;
    z-index: 2;
}
.slick_list-crossroll_before > .LeftArrow{
    left: 35%;
    position: relative;
}
/* .slick_list-crossroll_before > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 2.5px -1px;
} */
.slick_list-crossroll_before:hover{
    outline: 1px solid #000;
    opacity: .7;
}
/* slick_ corssroll on the right */
.slick_list-crossroll_after{
    /* transform: rotateZ(-90deg); */
    display: flex;
    align-items: center;
    width: 37.5px;
    height: 37.5px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 50%;
    font-size: 2rem;
    z-index: 2;
}
.slick_list-crossroll_after > .RightArrow{
    left: 20%;
    position: relative;
}
/* .slick_list-crossroll_after > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 2.5px -1px;
} */
.slick_list-crossroll_after:hover{
    outline: 1px solid #000;
    opacity: .7;
}
.slick_list-container{
    width: 100%;
    overflow: hidden;
}
.slick_list-nav{    /* transform: translateX(-100px); */
    display: flex;
    list-style: none;
    flex-direction: row;
}
.slick_list-li{
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    min-width: 20%;
    flex-basis: auto;
    line-height: 1.2;
}
.slick_list-img{
    max-height: 13.375rem;

}
.slick_list-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}
.slick_list-text{
    font-size: 1.25rem;
    text-align: center;
    margin: .75rem 0;
}
.slick_list-link{
    color: #491040;
    font-size: 1rem;
    text-decoration: none;
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: .125rem;
}
.slick_list-link:hover{
    text-decoration: underline;
}
.slick_list-link:not(:first-child){
    margin-top: .25rem;
}
.arrow_svg_sideway{
    position: relative;
    bottom: -5px;
    right: -3px;
    max-height: 1.5rem;
    transform: rotate(-90deg);
    filter: brightness(0) saturate(100%) invert(8%) sepia(69%) saturate(2818%) hue-rotate(290deg) brightness(100%) contrast(97%);
    object-fit: fill;
}
/* 2nd row */
.fluid{
    position: relative;
    margin-top: 2.5rem;
}
.fluid-layout{
    padding: 0 .5rem;
    position: relative;
    max-width: 90rem;
    margin: auto;
}
/* fuild list ul */
.fluid-track{
    display: flex;
    align-items: center;
}
/* fuild li */
.fluid-slide{
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 .5rem;
    margin-bottom: .75rem;
}
.fluid-container{
    display: flex;
    flex-flow: column nowrap;
    padding: 0 .5rem;
    width: 100%;
}
/* fuild img and text */
.fluid_title-card{
    padding: 0 .5rem;
}
.fluid_title-img{
    width: 100%;
    margin-bottom: 1.5rem;
}
.fluid_title-img img{
    width: 100%;
}
.fluid_title-text{
    padding: 0 1.75rem;
    text-align: center;
    width: 100%;
    line-height: 1.25;
}
.fluid_title-text > h3{
    font-size: 1.5rem;
    /* font-weight: 800; */
}
.fluid_title-text > .fluid_title-detail{
    margin-top: .75rem;
    font-size: 1rem;
}
/* slick list link   */
.fluid_title-link{
    padding: 0 .5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    line-height: 2.1;
    color: #000;
}
.fluid_title-link > a{
    border-color: #0C0C0C;
    color: #491040;
    transition: all ease-in-out .25s;
}
.fluid_title-link > a:hover{
    background-color: #0C0C0C;
    color: #EAEAEA;
}
.fluid_title-link > a:first-child{
    margin: .5rem 0;
}
.fluid_title-link > a:not(:first-child){
    margin: .5rem 0 .5rem 1.25rem;
}
/* 3rd row  masonry */
.masonry{
    position: relative;
    margin-top: 2.5rem;
    width: 100%;
}
.masonry-layout{
    width: 100%;
    height: auto;
}
/* 1 big width */
.masonry_brick{
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    width: 100%;
    height: 100%;
}
/* masonry_brick left */
.masonry_brick-left{
    order: 1;
    flex-basis: 25%;
    max-width: 25%;
    display: flex;
    position: relative;
    min-height: 20rem;
}
/* masonry_brick left img overlay background */
.masonry_brick-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.masonry_brick-img{
    height: 50%;
    width: 100%;
    position: relative;
    object-fit: contain;
}
/* .testing{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../img/Lookbook_HP.png");
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: bottom center;
} */
.masonry_brick-container{
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
    background-color: #0C0C0C;
    padding: 2% 12%;
}
/* masonry text and link */
.masonry_brick-body{
    display: flex;
    flex-flow: column wrap;
    color: white;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    padding: 2% 12%;
}
.masonry_brick-body h1{
    margin-bottom: .5rem;
    /* font-size: 1.5rem; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.masonry_brick-body p{
    padding-bottom: .5rem;
}
.masonry_brick-body p:first-child{
    margin-bottom: .5rem;
    font-size: .875rem;
}
.masonry_brick-body > .button{
    margin-top: 1.5rem;
    margin-right: 0;
    background-color: white;
    border-color: #000;
    color: #000;
}
.masonry_brick-body > .button:hover{
    color: white;
    background-color: #000;
}
/* masonry_brick right */
.masonry_brick-right{
    order: 2;
    flex-basis: 75%;
    max-width: 75%;
    min-height: 20rem;
}
.masonry_brick-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 4th row popular */
/* .popular{
    position: relative;
    margin-top: 2.5rem;
}
.popular-layout{
    position: relative;
    max-width: 90rem;
    margin: auto;
    padding: 0 .5rem;
}
.popular-container{

} */
/* popular to hold img */
/* .popular-img{ } */
/* popular body for text and link */
/* .popular-body{ } */
/* 5th row built_connect */
.built_connect{
    position: relative;
    margin-top: 2.5rem;
}
.built_connect-layout{
    position: relative;
    max-width: 90rem;
    margin: auto;
    padding: 0 .5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
/* container for local infomation */
.built_connect-container{
    padding: 0 .5rem;
    margin-bottom: .75rem;
    flex-basis: 33%;
}
.built_connect-head{
    width: 100%;
    /* padding: 0 .5rem; */
    background-color: #EAEAEA;
}
.built_connect-img img{
    width: 100%;
    object-fit: contain;
    margin-bottom: 1.5rem;
}
.built_connect-text{
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    text-align: center;
}
.built_connect-text > *{
    margin-bottom: .5rem;
    width: 100%;
    font-size: 1rem;
}
.built_connect-text > h3{
    font-family: "Avance-Bold", serif;
    font-size: 1.5rem;
}
.built_connect-body{
    background-color: #EAEAEA;
    padding: 0 2.5rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
}
.built_connect-body > a{
    margin: .5rem 0;
    line-height: 1.75;
    border-color: #000;
    background-color: white;
}
.built_connect-body > a:hover{
    color: #fff;
    background-color: #000;
}
/* 6th row recent */
.recent{
    position: relative;
    margin-top: 2.5rem;
}
.recent-layout{
    position: relative;
    max-width: 90rem;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}
.recent-head{
    padding: 0 .5rem;
    width: 100%;
    margin: auto;
    position: relative;
    line-height: 1.25;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}
.recent-head h2{
    padding: 0 .5rem;
    width: 100%;
    text-align: center;
    margin: 1.5rem 0 .7rem;
    font-size: 1.875rem;
    font-weight: 500;
}
/* recent-body */
.recent-body{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
}
/* recent_list to show main info about it */
.recent_list{
    width: 100%;
}
.recent_list-sort{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    max-height: 424px;
}
.recent_list-container{
    margin:0 1.25rem 1.25rem 0;
    list-style: none;
    max-width: 100%;
}
.recent_list-link{
    display: flex;
    flex-flow: column nowrap;
    text-decoration: none;
    position: relative;
    word-break: break-word;
    border: 2px solid transparent;
    box-shadow: 0 0 0.25rem 0 rgba(0,0,0,.25);
    height: 100%;
}
.recent_list-link:hover{
    box-shadow: 0 0 0.3125rem 0.225rem #491040;
    outline: .15rem solid #491040;
}
.recent_list-link > img{
    width: 100%;
    margin-bottom: 1rem;
    height: auto;
}
.recent_list-link:hover  .recent_list-longText{
    visibility: visible;
    opacity: 1;
}
.recent_list-text{
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
}
.recent_list-text > h3{
    font-size: 1.2rem;
    margin-bottom: .5rem;
}
.recent_list-link .recent_list-infomation{
    text-overflow: ellipsis;
    height: auto;
}
.recent_list-link .recent_list-longText{
    padding: .5rem;
    box-shadow: 0 0 0.5rem 0.01rem #333;
    width: 100%;
    position: absolute;
    z-index: 5;
    bottom: -2px;
    left: 5px;
    visibility: hidden;
    background-color: #fff;
    opacity: 0;
    transition: opacity .7s;
}
/* last row */
.club{
    position: relative;
}
.club-layout{
    position: relative;
    max-width: 90rem;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}
.club-head{
    padding: 0 .5rem;
    width: 100%;
    margin-bottom: .7rem;
    margin-top: 1.5rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.25;
    width: 100%;
    position: relative;
}
.club-head > h2{
    font-size: 1.875rem;
    margin-bottom: .5rem;
}
.club-head > p{
    font-size: 1rem;
    padding: .5rem 0;
}
.club-body{
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
}
/* list showing the club */
.club_list{
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    width: 100%;
}
/* club corssroll for the 2 arrow on both side */
.club_list-crossroll{
    width: 100%;
    top: 45%;
    position: absolute;
    background: transparent;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
/* club corssroll on the left */
.club_list-crossroll_before{
    /* transform: rotateZ(90deg); */
    display: flex;
    align-items: center;
    width: 37.5px;
    height: 37.5px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 50%;
    font-size: 2rem;
    z-index: 2;
}
/* .club_list-crossroll_before > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 2.5px -1px;
} */
.club_list-crossroll_before > .LeftArrow{
    left: 35%;
    position: relative;
}
.club_list-crossroll_before:hover{
    outline: 1px solid #000;
    opacity: .7;
}
/* club corssroll on the right */
.club_list-crossroll_after{
    /* transform: rotateZ(-90deg); */
    display: flex;
    align-items: center;
    width: 37.5px;
    height: 37.5px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 50%;
    font-size: 2rem;
    z-index: 2;
}
/* .club_list-crossroll_after > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 2.5px -1px;
} */
.club_list-crossroll_after > .RightArrow{
    left: 20%;
    position: relative;
}
.club_list-crossroll_after:hover{
    outline: 1px solid #000;
    opacity: .7;
}
/* club list container */
.club_list-container{
    width: 100%;
    overflow: hidden;
}
.club_list-nav{ /* transform: translateX(-100px); */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
    list-style: none;
    max-width: 100%;
    position: relative;
}
/* club_list items each */ 
.club_list-li{   
    width: 100%;
    flex-basis: 25%;
    min-width: 25%;
    max-width: 25%;
    height: 280px;
    margin: 0 .1rem;
}
/* hover effect */
.club_list-hover{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
/* cub img contain */
.club_list-img{
    height: 19rem;
    width: 100%;
    position: relative;
    overflow: hidden;
}
/* club-img hover to show an weak background dark */
.club_list-hover:hover .club_list-img::before{
    content: "";
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}
.club_list-img > img{
    width: 100%;
    object-fit: cover;
    object-position: center -50px;
}
/* club-darkbot show short media */
.club_list-darkbot{
    position: absolute;
    padding: 0 .5rem;
    width: 100%;
    bottom: -30px;
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    background-color: #000;
    align-items: center;
    opacity: 0;
    transition-duration: .3s , .5s;
    transition-delay: 0s , .05s;
    transition-property: transform, opacity;
}
/* club-darkbot hover to show the short link into different media */
.club_list-hover:hover .club_list-darkbot{
    transform: translateY(-30px);
    opacity: 1;
}
.darkbot-icon{
    color: white;
    margin: .25rem .25rem;
}
.darkbot-icon > a{
    text-decoration: none;
}
.darkbot-icon > a > img{
    width: 18px;
    height: 18px;
    object-fit: contain;
    filter: invert(100%);
}
/* club list popup */
.club_list-Popup{
    display: none;
    /* display: flex; */
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, .85);
}
.club_Popup{
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    /* z-index: 7; */
    width: 1000px;
    padding: 20px 30px 0;
    left: 25%;
    top: 25%;
    background-color: white;
}
/* clip: rect(0px,64px,64px,0px); */
/* club corssroll for the 2 arrow on both side */
.club_Popup-crossroll{
    position: absolute;
    left: -5%;
    top: 0;
    width: 110%;
    height: 100%;
    z-index: -1;
    background: transparent;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    opacity: .7;
}
/* club corssroll on the left */
.club_Popup-crossroll_before{
    transform: rotateZ(90deg);
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    cursor: pointer;
    filter: invert(100%);
    font-size: 2rem;
}
.club_Popup-crossroll_before > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 2.5px -1px;
}
.club_Popup-crossroll_before:hover{
    outline: 1px solid #000;
    opacity: .7;
}
/* club corssroll on the right */
.club_Popup-crossroll_after{
    transform: rotateZ(-90deg);
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    cursor: pointer;
    filter: invert(100%);
    font-size: 2rem;
}
.club_Popup-crossroll_after > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 2.5px -1px;
}
.club_Popup-crossroll_after:hover{
    outline: 1px solid #000;
    opacity: .7;
}
/* close button */
.club_Popup-close{
    position: absolute;
    right: 1%;
    top: 2%;
    cursor: pointer;
}
/* club popup left */
.club_Popup-left{
    order: 0;
    flex-basis: 50%;
    height: 500px;
}
/* club popup left img*/
.club_Popup-img{
    width: 100%;
    max-height: 88%;
    overflow: hidden;
}
.club_Popup-img > img{
    width: 100%;
    object-fit: contain;
    object-position: -50%;
    /* height: 100%; */
}
/* club popup left media contain */
.club_Popup-media{
    width: 100%;
    height: 100%;
    max-height: 12%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    line-height: 3.625rem;
    align-items: center;
}
/* club popup left media link */
.club_Popup-meta_container{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.meta_container-img{
    padding: .5rem;
    margin-right: .4rem;
    border-radius: 50%;
    background-color: #000;
}
.meta_container-img img{
    filter: invert(100%);
}
.club_Popup-icon_host{
    position: relative;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.club_Popup-icon_host > li{
    padding-right: .345rem;
    display: flex;
    align-items: center;
    height: 24px;
}
.club_Popup-icon_host::before{
    content: "Share:";
    font-weight: 550;
    position: relative;
    left: 0;
    order: 0;
    margin-right: .5rem;
}
.club_Popup-icon_host > .icon_host-FB img{
    filter: brightness(0) saturate(100%) invert(26%) sepia(79%) saturate(461%) hue-rotate(152deg) brightness(90%) contrast(87%);
}
.club_Popup-icon_host > .icon_host-twitter img{
    filter: brightness(0) saturate(100%) invert(56%) sepia(8%) saturate(4404%) hue-rotate(152deg) brightness(90%) contrast(72%);
}
.club_Popup-icon_host > .icon_host-pinterest img{
    filter: brightness(0) saturate(100%) invert(10%) sepia(53%) saturate(5178%) hue-rotate(353deg) brightness(93%) contrast(115%);
}
/* club popup right */
.club_Popup-right{
    order: 1;
    flex-basis: 50%;
    height: 500px;
    padding-left: 1.875rem;
    scroll-behavior: smooth;
    overflow-y: visible;
}
/* club popup right  head*/
.club_Popup-head{
    margin-bottom: 1.25rem;
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
    overflow: hidden;
    max-height: 16%;
}
.club_Popup-head > h3{
    font-size: 1.3rem;
    font-weight: 500;
}
/* club popup right body*/
.club_Popup-body{
    max-height: 80%;
    scroll-behavior: smooth;
    overflow-block: hidden;
    overflow-y: scroll;
}
/* club popup right  text*/
.club_Popup-txt{
    width: 100%;
    font-size: 1rem;
    padding-bottom: .75rem;
}
/* club popup right list of imtes*/
.club_Popup-items{
    padding: .75rem 0 .75rem;
    display: flex;
    flex-flow: column nowrap;
}
.club_Popup-items > h3{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: .375rem;
}
/* club popup right shop item contain*/
.items_container{
    margin-right: .75rem;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
}
.items_container > li{
    flex-basis: 25%;
}
/* club popup right shop item link*/
.club_Popup-item{
    text-decoration: none;
    display: flex;
    flex-flow: column nowrap;
    color: #777;
    font-size: .75rem;
}
.club_Popup-item-img{
    width: 100%;
    position: relative;
}
.club_Popup-item-img > img{
    width: 100%;
}
/* club_Popup-item hover to show an shop bag of item */
.club_Popup-item:hover > .club_Popup-item-img::before{
    opacity: 0.45;
    display: flex;
    align-items: center;
    justify-content: center;
    content: url("../img/shopping-bag-100.png");
    /* place-content: center; */
    background-color: #fff;
    filter: invert(100%);
    position: absolute;
    width: 100%;
    height: 100%;
}
/* testing new img holder in club */
.club_list-img_cover{
    width: calc(100% - 4px);
    height: 100%;
    background-size: cover;
    background-position: 50% 25%;
    /* background-position: center; */
}
@media (min-width: 320px) {
    .button{
        margin: 1rem 0;
    }
    .card_house-layout{
        flex-flow: column wrap;
        min-height: 40rem;
    }
    .card_house-background{
        position: relative;
        flex-grow: 1;
        display: flex;
    }
    .card_house-background img{
        bottom: 0;
        height: auto;
        object-position: -250px;
        object-fit: cover;
    }
    .card_house-container{
        padding: 1rem;
    }
    .card_house-text{
        position: relative;
        width: 100%;
    }
    .card_house-link{
        flex-flow: column nowrap;
    }
    .card_house-link .button{
        line-height: 1.5;
    }
    /* .slick_list-body,.fluid,.built_connect-layout,.recent-layout,.club-layout{
        max-width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }
    .club_list-img > img{
        object-position: center;
        height: 100%;
    } */
    .slick_list-crossroll{
        display: flex;
    }
    .slick_list-li{
        min-width: 50%;
    }
    /*  */
    .slick_list-nav{
        transform: translateX(-100px);
    }
    /*  */
    .fluid-track{
        flex-flow: column nowrap;
    }
    .fluid-slide{
        max-width: 80%;
    }
    .masonry_brick{
        flex-flow: column wrap;
    }
    .masonry_brick-left,.masonry_brick-right{
        max-width: 100%;
        width: 100%;
        flex-basis: 100%;
    }
    .masonry_brick-left img{
        height: auto;
    }
    .masonry_brick{
        flex-flow: column wrap;
    }
    .masonry_brick-left,.masonry_brick-right{
        max-width: 100%;
        width: 100%;
        flex-basis: 100%;
    }
    .masonry_brick-left img{
        height: auto;
    }
    .built_connect-layout{
        flex-flow: column nowrap;
    }
    .built_connect-container{
        max-width: 80%;
        align-self: center;
    }
    .masonry_brick-right{
        display: flex;
    }
    .recent_list-sort{
        flex-flow: column nowrap;
        max-height: 100%;
    }
    .recent_list-link{
        flex-direction: row-reverse;
        padding: .5rem;
    }
    .recent_list-link > img{
        max-width: 5rem;
        align-self: center;
    }
    .club_list-li{
        min-width: 50%;
        max-width: 50%;
    }
    .club_list-img{
        display: flex;
    }
    .club_list-img > img{
        object-position: center;
    }
    .slick_list-body,.fluid-layout,.built_connect-layout,.recent-layout,.club-layout{
        max-width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }
}
@media (min-width: 596px) {
    .button{
        margin: 1rem 1.5rem 0 0;
    }
    .card_house-layout{
        flex-flow: column nowrap;
        min-height: 40rem;
    }
    .card_house-background{
        position: absolute;
        flex-grow: 0;
        display: block;
    }
    .card_house-background img{
        bottom: 0;
        height: 100%;
        object-position: 50% 50%;
        object-fit: cover;
    }
    .card_house-container{
        padding: 0 2rem;
    }
    .card_house-link{
        flex-flow: row nowrap;
    }
    .card_house-link .button{
        line-height: 2.1;
    }
    .slick_list-li{
        min-width: 40%;
    }
    .fluid-slide{
        max-width: 60%;
    }
    .built_connect-container{
        max-width: 60%;
    }
    .masonry_brick-right{
        display: flex;
    }.club_list-li{
        min-width: 35%;
        max-width: 35%;
    }
    .club_list-img > img{
        object-position: center;
    }
    .slick_list-body,.fluid-layout,.built_connect-layout,.recent-layout,.club-layout{
        max-width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }
}
@media (min-width: 982px) {
    .slick_list-crossroll{
        display: none;
    }
    .slick_list-li{
        min-width: 20%;
    }
    /*  */
    .slick_list-nav{
        transform: translateX(0px);
    }
    /*  */
    .fluid-track{
        flex-flow: row nowrap;
    }
    .fluid-slide{
        max-width: 50%;
    }
    .masonry_brick{
        flex-flow: row nowrap;
    }
    .masonry_brick-left{
        min-height: 20rem;
        max-width: 25%;
        flex-basis: 25%;
    }
    .masonry_brick-left img{
        height: 50%;
    }
    .masonry_brick-right{
        max-width: 75%;
        min-height: 20rem;
        flex-basis: 75%;
    }
    .built_connect-layout{
        flex-flow: row nowrap;
    }
    .built_connect-container{
        max-width: 100%;
        align-self: center;
    }
    .masonry_brick-right{
        display: block;
    }
    .recent_list-sort{
        flex-flow: row nowrap;
        max-height: 424px;
    }
    .recent_list-link{
        flex-direction: column;
        padding: 0;
    }
    .recent_list-link > img{
        max-width: 100%;
    }
    .club_list-li{
        min-width: 25%;
        max-width: 25%;
    }
    .club_list-img{
        display: block;
    }
    .slick_list-body,.fluid-layout,.built_connect-layout,.recent-layout,.club-layout{
        max-width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media (min-width: 1200px) {
    .card_house-layout{
        min-height: 20rem;
        flex-flow: row wrap;
        align-content: center;
    }
    .card_house-background img{
        bottom: 20%;
        height: auto;
        width: 100%;
    }
    .club_list-img > img{
        object-position: center;
        height: 100%;
        object-position: center -50px;
    }
    .slick_list-body,.fluid-layout,.built_connect-layout,.recent-layout,.club-layout{
        max-width: 67.5rem;
        margin: auto;
    }
}
@media (min-width: 1600px) {
    .club_list-img > img{
        object-position: center -50px;
        width: 100%;
        height: auto;
    }
    .slick_list-body,.fluid-layout,.built_connect-layout,.recent-layout,.club-layout{
        max-width: 90rem;
        margin: auto;
    }
}